{"openapi":"3.0.1","info":{"title":"REST API","contact":{"name":"Chinna","email":"java4chinna@gmail.com"},"version":"1.1"},"servers":[{"url":"https://topuptalent.com/HRMBackendTest","description":"Default Server URL"}],"security":[{"basicAuth":[]},{"bearerToken":[]}],"tags":[{"name":"Asset Controller","description":"API operations for managing assets"},{"name":"Project Management","description":"Endpoints for getting Email Deletion details."},{"name":"Menu Controller","description":"Dynamic Menu Controller for HRMIS"},{"name":"Holiday Controller","description":"Holiday Controller for API"},{"name":"Forget Password","description":"Endpoints for reset password"},{"name":"Biometric Controller","description":"Endpoints for managing the biometrics"},{"name":"Employee Password Change","description":"Endpoints for changing Password"},{"name":"Attendance Regularization requests","description":"Endpoints for managing the Attendance Regularization requests"},{"name":"Project Management","description":"Endpoints for getting project details."},{"name":"Employee Management","description":"Endpoints for managing employees and their hierarchy."},{"name":"Asset Return Controller","description":"API operations for managing assets returns"},{"name":"Employee ReimbursementEntity Management","description":"Endpoints for getting employee's ReimbursementEntity details."},{"name":"Appraisal Controller","description":"Appraisal Controller for API operations"},{"name":"Roles Mapping","description":"Map the roles to user of HRMIS"},{"name":"Announcement  Management","description":"Announcement  Management"},{"name":"Employee Education Management","description":"Endpoints for getting employee's education details."},{"name":"Employee Dependent Management","description":"Endpoints for getting employee's dependent details."},{"name":"Employee Document Management","description":"Endpoints for getting employee's Document details."},{"name":"Employee Experience Management","description":"Endpoints for getting employee's past experiences."},{"name":"Leave Credit Request  Management","description":"Leave Credit Request  Management"},{"name":"Onboarding Controller","description":"Employee Onbording  Controller for API operations"},{"name":"Auth Controller","description":"Auth Controller for API operations"},{"name":"Leave Controller","description":"Leave Controller for API"},{"name":"Punch Details","description":"Endpoints for punching details"},{"name":"Department Controller","description":"Endpoints for managing the departments "},{"name":"Salary Controller","description":"Salary Controller for API operations"},{"name":"Designation Controller","description":"Endpoints for managing the designation "},{"name":"Adhoc Email creations requests","description":"Endpoints for managing the Adhoc Email requests"},{"name":"Performance Controller","description":"Performmance Controller for API "},{"name":"Upload and Manage the Form 16 of the Employee","description":"Endpoints for Upload and Manage the Form 16 of the Employee"}],"paths":{"/user/{employeeId}/manager":{"put":{"tags":["Employee Management"],"summary":"Update the manager of an employee.","operationId":"updateManager","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newManagerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/v2/{employeeId}/manager":{"put":{"tags":["Employee Management"],"summary":"Update the manager of an employee, and Return the manager hierarchy","operationId":"updateManagerV2","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newManagerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/v1/leave-manager/assign":{"put":{"tags":["Employee Management"],"summary":"Assign Leave Manager to Employee","operationId":"assignLeaveManager","parameters":[{"name":"employeeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"leaveManagerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/user/v1/employment-type/update":{"put":{"tags":["Employee Management"],"summary":"Update the Employment type from Consultent to Regular Employee","operationId":"updateEmployment","parameters":[{"name":"employeeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"managerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"designationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"employeeType","in":"query","required":true,"schema":{"type":"string","enum":["CONSULTANT","REGULAR","SQELABS","IVYCLINIC"]}},{"name":"doj","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/user/v1/access/update":{"put":{"tags":["Employee Management"],"summary":"Update the Employee access","operationId":"updateEmployeeAccess","parameters":[{"name":"employeeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"leftOutDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"leftOutReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/employees/{employeeId}/promotions/{newDesignationId}":{"put":{"tags":["Employee Management"],"summary":"Promote an employee","operationId":"promoteEmployee","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newDesignationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/roles/{id}":{"get":{"tags":["role-controller"],"operationId":"getRoleById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleEntity"}}}}}},"put":{"tags":["role-controller"],"operationId":"updateRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRecordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["role-controller"],"operationId":"deleteRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/reimbursement/withdrawReimbursement":{"put":{"tags":["Employee ReimbursementEntity Management"],"summary":"Withdraw reimbursement request by employee","operationId":"withdrawReimbursement","parameters":[{"name":"reimbursementRequestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING_ADMIN","PENDING_FINANCE","VERIFIED","DISCREPANCY","PAID","WITHDRAW","APPROVED","REJECTED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/reimbursement/approvereimbursement":{"put":{"tags":["Employee ReimbursementEntity Management"],"summary":"Approve/Reject reimbursement request by employee","operationId":"approveRequestAssestService","parameters":[{"name":"reimbursementRequestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING_ADMIN","PENDING_FINANCE","VERIFIED","DISCREPANCY","PAID","WITHDRAW","APPROVED","REJECTED"]}},{"name":"approvedAmount","in":"query","required":false,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/project/shadow/{id}":{"get":{"tags":["Project Management"],"summary":"Get shadow resource by ID","operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"put":{"tags":["Project Management"],"summary":"Update shadow resource by ID","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShadowResourceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"delete":{"tags":["Project Management"],"summary":"Delete shadow resource by ID","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/edit/{id}":{"put":{"tags":["Project Management"],"operationId":"editMember","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectAssignmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProjectMember"}}}}}}},"/policy":{"get":{"tags":["Employee Document Management"],"operationId":"getPolicyList","parameters":[{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Employee Document Management"],"summary":"upload  policy","operationId":"updatePolicy","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PolicyRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Employee Document Management"],"summary":"upload  policy","operationId":"addPolicy","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PolicyRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/onboarding/{employeeId}/approve":{"put":{"tags":["Onboarding Controller"],"summary":"Approve an employee and generate the ccEmployeeID.","operationId":"approveEmployee","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"managerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"designationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"employeeType","in":"query","required":true,"schema":{"type":"string","enum":["REGULAR","CONTRACT","SQELABS","IVYCLINIC"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/onboarding/v2/{employeeId}/approve":{"put":{"tags":["Onboarding Controller"],"summary":"Approve an employee and generate the ccEmployeeID.","operationId":"approveEmployeeV2","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"managerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"designationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"employeeType","in":"query","required":true,"schema":{"type":"string","enum":["REGULAR","CONTRACT","SQELABS","IVYCLINIC"]}},{"name":"leaveManagerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"employeeSubType","in":"query","required":true,"schema":{"type":"string"}},{"name":"flag","in":"query","required":false,"schema":{"type":"string","enum":["CCI_INDIA","CCI_US","CCI_UK","IRED_INDIA","ALL"]}},{"name":"isTech","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/onboarding/v2/updateEmail":{"put":{"tags":["Onboarding Controller"],"summary":"L1 Approval Of Employee with ccEmployeeID by IT Admin","operationId":"approveEmployeeByITL1","parameters":[{"name":"employeeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/onboarding/updateEmail":{"put":{"tags":["Onboarding Controller"],"summary":"update  an employee with ccEmployeeID.","operationId":"approveEmployee_1","parameters":[{"name":"employeeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/offboarding/{id}":{"get":{"tags":["offboarding-controller"],"operationId":"getRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MasterOffboardingRequest"}}}}}},"put":{"tags":["offboarding-controller"],"operationId":"approveByHr","parameters":[{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"noticePeriod","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MasterOffboardingRequest"}}}}}},"delete":{"tags":["offboarding-controller"],"operationId":"deleteRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/leave/us/leave/withdraw":{"put":{"tags":["Leave Controller"],"operationId":"withdrawUSLeaveRequest","parameters":[{"name":"leaveId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/leave/us/leave/approve":{"put":{"tags":["Leave Controller"],"operationId":"approveLeaveRequest","parameters":[{"name":"leaveId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/leave/ood/approver/hr":{"get":{"tags":["Leave Controller"],"operationId":"getOodLeaveTransactionHr","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Leave Controller"],"operationId":"updateOodLeaveTransactionHr","parameters":[{"name":"leaveId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave/ood/approver/dl":{"get":{"tags":["Leave Controller"],"operationId":"getOodLeaveTransactionDl","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Leave Controller"],"operationId":"updateOodLeaveTransactionDl","parameters":[{"name":"leaveId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave/masterleave":{"put":{"tags":["Leave Controller"],"summary":"Update Master Leave by Employee ID","description":"Update an existing Master Leave by Employee ID.","operationId":"updateMasterLeaveByEmployeeId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterLeaveDto"}}},"required":true},"responses":{"200":{"description":"Successful update of Master Leave","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MasterLeaveDto"}}}},"404":{"description":"Master Leave not found","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave/leave/withdraw":{"put":{"tags":["Leave Controller"],"operationId":"withdrawLeaveRequest","parameters":[{"name":"leaveId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave/leave/bulk/approver/hr":{"put":{"tags":["Leave Controller"],"summary":"Bulk Approve/Reject the final leave status by  HR","description":"Bulk Approve/Reject the final leave status by  HR","operationId":"bulkApproverLeaveTransactionHR","parameters":[{"name":"Status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"comment","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave/leave/approver":{"get":{"tags":["Leave Controller"],"operationId":"getLeaveTransaction","parameters":[{"name":"empId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"finalApprover","in":"query","required":true,"schema":{"type":"boolean"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Leave Controller"],"operationId":"updateApproverLeaveTransaction","parameters":[{"name":"leaveId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"leaveStatus","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"finalApprover","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave/leave/approver/manager":{"get":{"tags":["Leave Controller"],"summary":"Get list of leaves applied by Employee under this manager","description":"Get list of leaves applied by Employee under this manager","operationId":"getLeaveTransactionManager","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Leave Controller"],"summary":"Approve/Reject the leave status by  manager","description":"Approve/Reject the leave status by  manager","operationId":"updateApproverLeaveTransactionManager","parameters":[{"name":"leaveId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave/leave/approver/hr":{"get":{"tags":["Leave Controller"],"summary":"Get list of leaves applied by Employee for final approval by HR","description":"Get list of leaves applied by Employee for final approval by HR","operationId":"getLeaveTransactionHR","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Leave Controller"],"summary":"Approve/Reject the final leave status by  HR","description":"Approve/Reject the final leave status by  HR","operationId":"updateApproverLeaveTransactionHR","parameters":[{"name":"leaveId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"comment","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave-credit/v1/request/withdrawal":{"put":{"tags":["Leave Credit Request  Management"],"summary":"Withdraw leave credit request","operationId":"withdrawLeaveCreditRequest","parameters":[{"name":"empId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"leaveRequestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave-credit/v1/request/reject":{"put":{"tags":["Leave Credit Request  Management"],"summary":"Reject leave credit request","operationId":"rejectLeaveCreditRequest","parameters":[{"name":"empId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"leaveRequestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reason","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave-credit/v1/request/approve":{"put":{"tags":["Leave Credit Request  Management"],"summary":"Aprove leave credit request","operationId":"approveLeaveCreditRequest","parameters":[{"name":"empId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"leaveRequestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave-credit/v1/request/add":{"put":{"tags":["Leave Credit Request  Management"],"summary":"Add Leave credit request in system","operationId":"addLeaveCreditRequest","parameters":[{"name":"employeeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"noOfdays","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"typeOfLeave","in":"query","required":true,"schema":{"type":"string","enum":["PrivilegeLeave","HalfYearly","PaidLeave","WorkFromHome","MATERNITY","PATERNITY","ONOFFICIALDUTY","ShortLeave","HalfDayLeave","PERIODIC","UnPaidLeave","SickLeave","CasualLeave"]}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/holiday/update":{"put":{"tags":["Holiday Controller"],"summary":"Update Holiday","description":"Update Holiday","operationId":"updateHoliday","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"holidayFor","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/holiday/add":{"put":{"tags":["Holiday Controller"],"summary":"Add Holiday","description":"Add Holiday","operationId":"addHoliday","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"holidayFor","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/experience/{experienceId}":{"put":{"tags":["Employee Experience Management"],"summary":"Update Experiences","operationId":"updateExperience","parameters":[{"name":"experienceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperienceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Employee Experience Management"],"summary":"Delete Experience by Experience ID","operationId":"deleteExperience","parameters":[{"name":"experienceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/emailDeletion/approve/{empId}":{"put":{"tags":["Project Management"],"summary":"Approve or update Email Delete Request status","operationId":"approveRequest","parameters":[{"name":"empId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"approverReason","in":"query","required":true,"schema":{"type":"string"}},{"name":"reqStatus","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/education/{educationId}":{"put":{"tags":["Employee Education Management"],"summary":"Update Education","operationId":"updateEducation","parameters":[{"name":"educationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EducationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Employee Education Management"],"summary":"Delete Education by Education ID","operationId":"deleteEducation","parameters":[{"name":"educationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/document/v1/approve":{"put":{"tags":["Employee Document Management"],"summary":"Approve Or Reject the employee's document","operationId":"approveOrRejectEmployeeDocument","parameters":[{"name":"documentId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/designation/create":{"put":{"tags":["Designation Controller"],"summary":"To Create New designation in System","operationId":"createDesignation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesignationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/dependent/{dependentId}":{"put":{"tags":["Employee Dependent Management"],"summary":"Update Dependent","operationId":"updateDependent","parameters":[{"name":"dependentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DependentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Employee Dependent Management"],"summary":"Delete dependent by Dependent ID","operationId":"deleteDependent_2","parameters":[{"name":"dependentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/department/create":{"put":{"tags":["Department Controller"],"summary":"To Create New Department in System","operationId":"createDepartment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Department"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/csat/{id}":{"put":{"tags":["project-member-csat-controller"],"operationId":"updateCSAT","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectMemberCSATRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/biometric/mapping/create":{"put":{"tags":["Biometric Controller"],"summary":"To Create biometic maping in System","operationId":"createDepartment_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BiometricIdEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/attendance/regularization/v1/withdraw":{"put":{"tags":["Attendance Regularization requests"],"summary":"Withdraw Attendance Regularization request","operationId":"withdrawRegularizationssRequest","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/attendance/regularization/v1/manager/approve":{"put":{"tags":["Attendance Regularization requests"],"summary":"Approve/Reject Attendance Regularization request at L1","operationId":"aproveRegularizationssRequest","parameters":[{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"empId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"requestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/attendance/regularization/v1/hr/approve":{"put":{"tags":["Attendance Regularization requests"],"summary":"Approve/Reject Attendance Regularization request at HR","operationId":"aproveRegularizationssRequestHR","parameters":[{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"empId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"requestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/assest/v2/approveRequest":{"put":{"tags":["Asset Controller"],"summary":"[V2] Approve the asset requests which has been generated by employee","operationId":"approveRequestAssestServiceV2","parameters":[{"name":"assestRequestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"masterAssetId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/assest/approveRequest":{"put":{"tags":["Asset Controller"],"operationId":"approveRequestAssestService_1","parameters":[{"name":"assestRequestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/events/{requestId}/user/submit":{"put":{"tags":["event-controller"],"operationId":"updateEvent","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEventRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TravelResponseDTO"}}}}}}},"/api/events/{requestId}/submit":{"put":{"tags":["event-controller"],"operationId":"submitEvent","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TravelResponseDTO"}}}}}}},"/api/events/{expenseId}":{"put":{"tags":["event-controller"],"operationId":"updateExpense","parameters":[{"name":"expenseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ExpenseRequestDTO"},"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExpenseResponseDTO"}}}}}},"delete":{"tags":["event-controller"],"operationId":"deleteExpense","parameters":[{"name":"expenseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/events/{eventId}/action":{"put":{"tags":["event-controller"],"operationId":"performAction","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Event"}}}}}}},"/api/events/management/action":{"put":{"tags":["event-controller"],"operationId":"updateManagerStatus","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"mgmtStatus","in":"query","required":true,"schema":{"type":"string","enum":["MANAGEMENT","USER","INDIA","US","ALL","OPEN","CLOSED","APPROVED","PENDING","REJECTED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/events/finance/action":{"put":{"tags":["event-controller"],"operationId":"financeActionOnExpense","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"action","in":"query","required":true,"schema":{"type":"string","enum":["MANAGEMENT","USER","INDIA","US","ALL","OPEN","CLOSED","APPROVED","PENDING","REJECTED"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/access/edit/{accessTypeId}":{"put":{"tags":["master-access-controller"],"operationId":"editAccessType","parameters":[{"name":"accessTypeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"isRole","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterAccessTypeEntity"}}}}}}},"/api/access/deallocate/{requestId}":{"put":{"tags":["master-access-controller"],"operationId":"approveByIT","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterAccessRequestEntity"}}}}}}},"/api/access/approve/{accessTypeId}":{"put":{"tags":["master-access-controller"],"operationId":"approveAccessType","parameters":[{"name":"accessTypeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterAccessTypeEntity"}}}}}}},"/announcement":{"get":{"tags":["Announcement  Management"],"summary":"get list of announcements","operationId":"announcementList","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Announcement  Management"],"summary":"create announcement","operationId":"createAnnouncement","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AnnouncementRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/announcement/update":{"put":{"tags":["Announcement  Management"],"summary":"create announcement","operationId":"updateAnnouncement","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AnnouncementRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/announcement/dashboard/event/upload":{"put":{"tags":["Announcement  Management"],"summary":"create announcement","operationId":"uploadEvents","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/EmployeeEventRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/adhoc/email/update":{"put":{"tags":["Adhoc Email creations requests"],"summary":"Update email request","operationId":"updateEmailRequests","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailCreationRequests"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/profile/update":{"post":{"tags":["Employee Management"],"summary":"Update employee profile","operationId":"updateEmployeeProfile","parameters":[{"name":"employeeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmployeeUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/photo":{"post":{"tags":["Employee Management"],"summary":"Update employeePic ","operationId":"employeeOnboardingForm","requestBody":{"content":{"application/json":{"schema":{"required":["photo"],"type":"object","properties":{"photo":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/user/admin/photo/upload":{"post":{"tags":["Employee Management"],"summary":"Update employeePic ","operationId":"uploadPhotoByEmployee","parameters":[{"name":"employeeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["photo"],"type":"object","properties":{"photo":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/salary/salaryupload":{"post":{"tags":["Salary Controller"],"summary":"Salary Slip","operationId":"excelFile","parameters":[{"name":"month","in":"query","required":true,"schema":{"type":"string"}},{"name":"employeeType","in":"query","required":true,"schema":{"type":"string","enum":["REGULAR","CONTRACT","SQELABS","IVYCLINIC"]}}],"requestBody":{"content":{"application/json":{"schema":{"required":["excelFile"],"type":"object","properties":{"excelFile":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/roles":{"get":{"tags":["role-controller"],"operationId":"getAllRoles","parameters":[{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["role-controller"],"operationId":"createRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRecordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/roles/mapping":{"post":{"tags":["Roles Mapping"],"summary":"Create Or Update the users and role mapping","operationId":"createRoleMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleMappingReuest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/reimbursement":{"post":{"tags":["Employee ReimbursementEntity Management"],"summary":"Post ReimbursementEntity","operationId":"addReimbursement","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ReimbursementRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/reimbursement/reimbursements/upload":{"post":{"tags":["Employee ReimbursementEntity Management"],"summary":"Upload reimbursement sheet by finance team after processed","operationId":"handleFileUpload","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/project":{"get":{"tags":["Project Management"],"summary":"Get all Projects","operationId":"getProject","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListProjectDTO"}}}}}},"post":{"tags":["Project Management"],"summary":"Post Project","operationId":"addProject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/shadow":{"post":{"tags":["Project Management"],"summary":"Create shadow resource","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShadowResourceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/hold/notification/{id}/{activeToHoldDate}":{"post":{"tags":["Project Management"],"summary":"send Notification","operationId":"holdMailNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"activeToHoldDate","in":"path","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/createBulkProjects":{"post":{"tags":["Project Management"],"operationId":"createBulkProjects","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/create/notification/{id}":{"post":{"tags":["Project Management"],"summary":"send Notification","operationId":"createMailNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/complete/notification/{id}":{"post":{"tags":["Project Management"],"summary":"send Notification","operationId":"completeMailNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/bulkAssign":{"post":{"tags":["Project Management"],"operationId":"bulkAssign","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/assign":{"post":{"tags":["Project Management"],"operationId":"assignProject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectAssignmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProjectMemberDTO"}}}}}}},"/performance/submit":{"post":{"tags":["Performance Controller"],"operationId":"submitSurvey","parameters":[{"name":"isSubmitted","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PerformanceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/performance/hr":{"post":{"tags":["Performance Controller"],"operationId":"hrPerformance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HrPerformanceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/performance/evaluator":{"post":{"tags":["Performance Controller"],"operationId":"saveEvaluatorData","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluatorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/password":{"post":{"tags":["Forget Password"],"summary":"Send OTP","operationId":"forgetPassword","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/password/verifyOTP":{"post":{"tags":["Forget Password"],"summary":"Verify OTP","operationId":"veriftyOtp","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"OTP","in":"query","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/password/changePassword":{"post":{"tags":["Forget Password"],"summary":"Verify OTP","operationId":"changePassword","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/onboarding":{"get":{"tags":["Onboarding Controller"],"summary":"Get a onborad employee list by status","operationId":"findOnboradEmployeeListby","parameters":[{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["Onboarding Controller"],"summary":"Send  employee  onboarding form ","operationId":"employeeOnboardingForm_1","parameters":[{"name":"employeeName","in":"query","required":true,"schema":{"type":"string"}},{"name":"emailId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"offerLetter":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/onboarding/update":{"post":{"tags":["Onboarding Controller"],"summary":"Update temp/onboarded user profile information","operationId":"updateTempUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/offboarding/addRequest":{"post":{"tags":["offboarding-controller"],"operationId":"createRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterOffboardingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MasterOffboardingRequest"}}}}}}},"/newPassword":{"post":{"tags":["Employee Password Change"],"summary":"Post Change Password","operationId":"newPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/menu/v1/manage/assignment":{"post":{"tags":["Menu Controller"],"summary":"Manage Assign Or Remove Menu to role","operationId":"assignMenuToRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuRoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/leave/us/leaveApply":{"post":{"tags":["Leave Controller"],"operationId":"usLeaveRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaveRequestUS"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/leave/test/fillwfh":{"post":{"tags":["Leave Controller"],"operationId":"fillWFH","responses":{"200":{"description":"OK"}}}},"/leave/raise/concern":{"post":{"tags":["Leave Controller"],"summary":"Send Raise concern","operationId":"raiseConcern","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConcernRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterRaiseConcern"}}}}}}},"/leave/ood/leaveApply":{"post":{"tags":["Leave Controller"],"operationId":"oodLeaveRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave/history":{"post":{"tags":["Leave Controller"],"operationId":"history","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/leave/concern/action":{"post":{"tags":["Leave Controller"],"summary":"Approve or Reject concern request (HR)","operationId":"takeAction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConcernActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterRaiseConcern"}}}}}}},"/leave/concern/action/bulk":{"post":{"tags":["Leave Controller"],"summary":"Approve or Reject concern request (HR)","operationId":"takeAction_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConcernActionRequestBulk"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterRaiseConcern"}}}}}}},"/internal/leaves/import":{"post":{"tags":["internal-controller"],"operationId":"importLeaveBalances","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImportResult"}}}}}}},"/internal/leave/upload":{"post":{"tags":["internal-controller"],"operationId":"handleFileUpload_1","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/internal/cron/test/wfh-week":{"post":{"tags":["internal-controller"],"operationId":"testWFHWeekCron","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/internal/cron/test/wfh-quarter":{"post":{"tags":["internal-controller"],"operationId":"testQuarterCron","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"day","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/form16/upload/manual":{"post":{"tags":["Upload and Manage the Form 16 of the Employee"],"summary":"Manual Upload Form16","operationId":"uploadForm16Manually","requestBody":{"content":{"application/json":{"schema":{"required":["appFile"],"type":"object","properties":{"appFile":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/experience":{"post":{"tags":["Employee Experience Management"],"summary":"Get all Experiences","operationId":"addExperience","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperienceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/emailDeletion":{"get":{"tags":["Project Management"],"summary":"Get All Requests","operationId":"getAllRequests_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"post":{"tags":["Project Management"],"summary":"create Delete Request","operationId":"addProject_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailDeleteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/education":{"post":{"tags":["Employee Education Management"],"summary":"Post Education","operationId":"addEducation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EducationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/document":{"get":{"tags":["Employee Document Management"],"operationId":"getDocumentList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Employee Document Management"],"summary":"upload  Document","operationId":"uploadDocument","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DocumentRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/document/v2/upload":{"post":{"tags":["Employee Document Management"],"summary":"Upload Employee Document v2","operationId":"uploadDocumentV2","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DocumentRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/designation/update":{"post":{"tags":["Designation Controller"],"summary":"To Update Existing Designation in System","operationId":"updateDesignation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesignationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/dependent":{"post":{"tags":["Employee Dependent Management"],"summary":"Post Dependent","operationId":"addDependent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DependentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/department/update":{"post":{"tags":["Department Controller"],"summary":"To Update Existing Department in System","operationId":"updateDepartment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Department"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/csat":{"post":{"tags":["project-member-csat-controller"],"operationId":"createCSAT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectMemberCSATRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/biometric/mapping/update":{"post":{"tags":["Biometric Controller"],"summary":"To Update Existing Biometric in System","operationId":"updateDepartment_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BiometricIdEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/attendance/regularization/v1/apply":{"post":{"tags":["Attendance Regularization requests"],"summary":"Apply Attendance Regularization  reqeusts","operationId":"acceptRegularizationRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegularizationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/asset/return/upload":{"post":{"tags":["Asset Return Controller"],"summary":"Upload the asset returns","operationId":"uploadAssetReturnRequest","parameters":[{"name":"masterAssetId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}},{"name":"dateOfReturn","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"docketNo","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/assest/requestAssest":{"post":{"tags":["Asset Controller"],"summary":"Assest   Request","operationId":"requestAssest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/assest/new":{"post":{"tags":["Asset Controller"],"summary":"Create a new asset with the provided details.","operationId":"newAssest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAssestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/assest/deallocate":{"post":{"tags":["Asset Controller"],"summary":"Deallocate   Assest","operationId":"deallocate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeallocationAssestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/assest/create/category":{"post":{"tags":["Asset Controller"],"operationId":"createAsset","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"category","in":"query","required":false,"schema":{"type":"string"}},{"name":"comment","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/assest/bulk/new":{"post":{"tags":["Asset Controller"],"operationId":"newBulkAssest","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/assest/approve/category":{"post":{"tags":["Asset Controller"],"operationId":"approveAsset","parameters":[{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"comment","in":"query","required":false,"schema":{"type":"string"}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/assest/allocate":{"post":{"tags":["Asset Controller"],"summary":"Assined new  Assest","operationId":"allocate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssisgnedAssestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/appraisal/upload":{"post":{"tags":["Appraisal Controller"],"summary":"Appraisal file","operationId":"excelFile_1","requestBody":{"content":{"application/json":{"schema":{"required":["excelFile"],"type":"object","properties":{"excelFile":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/appraisal/upload/manual":{"post":{"tags":["Appraisal Controller"],"summary":"Manual Upload","operationId":"salarySlip","parameters":[{"name":"ccEmailId","in":"query","required":true,"schema":{"type":"string"}},{"name":"uuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"effDate","in":"query","required":true,"schema":{"type":"string"}},{"name":"issueDate","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["appFile"],"type":"object","properties":{"appFile":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/appraisal/bulk/upload":{"post":{"tags":["Appraisal Controller"],"operationId":"uploadExcel","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v2/leaves/{requestId}/reject":{"post":{"tags":["leave-controller-v-2"],"operationId":"reject","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectLeaveRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v2/leaves/{requestId}/approve":{"post":{"tags":["leave-controller-v-2"],"operationId":"approve","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveLeaveRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v2/leaves/withdraw":{"post":{"tags":["leave-controller-v-2"],"operationId":"withdraw","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawLeaveRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v2/leaves/hr/{requestId}/approve":{"post":{"tags":["leave-controller-v-2"],"operationId":"approvehr","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveLeaveRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v2/leaves/apply":{"post":{"tags":["leave-controller-v-2"],"operationId":"applyLeave","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyLeaveRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/v1/mdm/activity/upload":{"post":{"tags":["mdm-activity-controller"],"operationId":"upload","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"fromTime","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"overwriteSummaryForDay","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImportResult"}}}}}}},"/api/timesheets":{"get":{"tags":["timesheet-controller"],"operationId":"getTimesheet","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimesheetResponse"}}}}}}},"post":{"tags":["timesheet-controller"],"operationId":"createTimesheet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTimesheetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/timesheets/track-remote":{"post":{"tags":["timesheet-controller"],"operationId":"trackRemoteEmployees","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/timesheets/manager/action":{"post":{"tags":["timesheet-controller"],"operationId":"managerAction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimesheetActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/timesheets/extend-deadline":{"post":{"tags":["timesheet-controller"],"operationId":"extendDeadline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendTimesheetDeadlineRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/events/user/expense":{"post":{"tags":["event-controller"],"operationId":"uploadUserExpense","requestBody":{"content":{"application/json":{"schema":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ExpenseRequestDTO"},"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExpenseResponseDTO"}}}}}}},"/api/events/user/create/draft":{"post":{"tags":["event-controller"],"operationId":"createUserEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEventRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TravelResponseDTO"}}}}}}},"/api/events/management/expense":{"post":{"tags":["event-controller"],"operationId":"uploadManagementExpense","requestBody":{"content":{"application/json":{"schema":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ExpenseRequestDTO"},"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExpenseResponseDTO"}}}}}}},"/api/events/create":{"post":{"tags":["event-controller"],"operationId":"createEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEventRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Event"}}}}}}},"/api/events/apply":{"post":{"tags":["event-controller"],"operationId":"apply","parameters":[{"name":"eventId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TravelResponseDTO"}}}}}}},"/api/consultant/timesheet/submit":{"post":{"tags":["consultant-controller"],"operationId":"submitTimesheet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTimesheetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/consultant/allocation":{"post":{"tags":["consultant-controller"],"operationId":"createAllocation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllocationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AllocationResponse"}}}}}}},"/api/consultant/allocation/consume":{"post":{"tags":["consultant-controller"],"operationId":"consume","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/auth/validate":{"post":{"tags":["Auth Controller"],"operationId":"validateUUID","parameters":[{"name":"Token","in":"query","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/signup":{"post":{"tags":["Auth Controller"],"operationId":"registerUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/signin":{"post":{"tags":["Auth Controller"],"operationId":"authenticateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/logout":{"post":{"tags":["Auth Controller"],"operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/access/approve/it/{requestId}":{"post":{"tags":["master-access-controller"],"operationId":"approveByIT_1","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}},{"name":"approved","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterAccessRequestEntity"}}}}}}},"/api/access/approve/dl/{requestId}":{"post":{"tags":["master-access-controller"],"operationId":"approveByDL","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"comment","in":"query","required":true,"schema":{"type":"string"}},{"name":"approved","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterAccessRequestEntity"}}}}}}},"/api/access/addRequest/{employeeId}":{"post":{"tags":["master-access-controller"],"operationId":"addAccessRequest","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterAccessRequestEntity"}}}}}}},"/api/access/add/accessRequest":{"post":{"tags":["master-access-controller"],"operationId":"addAccessRequest_1","parameters":[{"name":"role","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessTypeDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMasterAccessTypeEntity"}}}}}}},"/adhoc/email/create":{"post":{"tags":["Adhoc Email creations requests"],"summary":"Accept the new Adhoc email creation reqeusts","operationId":"acceptEmailCreationRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailCreationRequests"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/project/edit-project/{id}":{"patch":{"tags":["Project Management"],"operationId":"editProject","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProject"}}}}}}},"/user":{"get":{"tags":["Employee Management"],"summary":"Get a list of all employees.","operationId":"getAllEmployees","parameters":[{"name":"departmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["CCI_INDIA","CCI_US","CCI_UK","IRED_INDIA","ALL"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/{id}":{"get":{"tags":["Employee Management"],"summary":"Get an employee by ID.","operationId":"getEmployeeById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/{employeeId}/manager-hierarchy":{"get":{"tags":["Employee Management"],"summary":"Get the manager hierarchy for an employee by ID.","operationId":"getManagerHierarchy","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/with-roles":{"get":{"tags":["Employee Management"],"summary":"Get a list of all employees with roles attached","operationId":"getAllEmployeesWithAssignedRoles","parameters":[{"name":"departmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"currentPage","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/user/v2/{id}":{"get":{"tags":["Employee Management"],"summary":"Get an employee by ID.","operationId":"getEmployeeByIdV2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/v1/leave-manager":{"get":{"tags":["Employee Management"],"summary":"Get Leave Manager assigned Employee","operationId":"getLeaveManager","parameters":[{"name":"employeeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/user/profile":{"get":{"tags":["Employee Management"],"summary":"Get employee profile","operationId":"getLoginEmployeeById","parameters":[{"name":"employeeId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/orgchart":{"get":{"tags":["Employee Management"],"operationId":"getHierarchy","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeHierarchyResponse"}}}}}}}},"/user/managers/{managerId}":{"get":{"tags":["Employee Management"],"summary":"Get employees under a specific manager.","operationId":"getEmployeesByManagerId","parameters":[{"name":"managerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/get/allUserDetails":{"get":{"tags":["Employee Management"],"summary":"Get all details list of all employees.","operationId":"getAllEmployeesV2","parameters":[{"name":"departmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}},{"name":"empId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/employees/{employeeId}/promotions":{"get":{"tags":["Employee Management"],"summary":"Get employee promotions","operationId":"getEmployeePromotions","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/emp-directory/filter":{"get":{"tags":["Employee Management"],"summary":"Get a list of all employees.","operationId":"getAllEmployeesDetails","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user/designations":{"get":{"tags":["Employee Management"],"summary":"Get a list of all designations","operationId":"getAllDesignations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Designation"}}}}}}}},"/user/api/techstack-types":{"get":{"tags":["Employee Management"],"operationId":"getAllTechStackTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TechStackTypeResponse"}}}}}}}},"/salary":{"get":{"tags":["Salary Controller"],"summary":"Get List of  Salary ","operationId":"getSalaryList","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/salary/downloadFile":{"get":{"tags":["Salary Controller"],"operationId":"downloadFile","parameters":[{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"salaryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/roles/mapping/v1/user/{id}":{"get":{"tags":["Roles Mapping"],"summary":"Find all roles list mapped to a user","operationId":"getRoleById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/reimbursement/types":{"get":{"tags":["Employee ReimbursementEntity Management"],"operationId":"getAccessTypes","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","VERIFIED","NOTVALID","APPROVED","APPROVED1","APPROVED2","REJECTED","DISABLE","AVAILABLE","ASSIGNED","CURRENT","PREVIOUS","HR_APPROVED","CORRECT","IN_CORRECT","PAID","WITHDRAW","LEFTOUT","BLOCKED","L1VERIFIED","ALLOCATED","DEALLOCATED","DELIVERED","DELETED","RETURNED","DISPOSED","UNIDENTIFIED","AVAILABLE1","ALL","VERIFIED1","CasualLeave","COMPLETED","INPROGRESS","EXPIRED","NOT_EXPIRED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListReimbursementDto"}}}}}}},"/reimbursement/reimbursementList":{"get":{"tags":["Employee ReimbursementEntity Management"],"summary":"Get reimbursement request for self","operationId":"getReimbursementRequestList","parameters":[{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"year","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"date","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"reimbursementType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/reimbursement/list":{"get":{"tags":["Employee ReimbursementEntity Management"],"summary":"Search  reimbursement request for employee","operationId":"ListReimbursementRequests","parameters":[{"name":"empId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING_ADMIN","PENDING_FINANCE","VERIFIED","DISCREPANCY","PAID","WITHDRAW","APPROVED","REJECTED"]}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"year","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"date","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/reimbursement/getApproveReimbursementList":{"get":{"tags":["Employee ReimbursementEntity Management"],"summary":"Get reimbursement request for approval purpose","operationId":"getAssestRequestList","parameters":[{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/reimbursement/export":{"get":{"tags":["Employee ReimbursementEntity Management"],"operationId":"getInvoicesExcel","parameters":[{"name":"fromDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"reimbursemenType","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/punch":{"get":{"tags":["Punch Details"],"summary":"Get details","operationId":"forgetPassword_1","parameters":[{"name":"employeeId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"month","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"year","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Punch Details"],"operationId":"deletePunchByDate","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/punch/punch-details":{"get":{"tags":["Punch Details"],"summary":"Get attendenece details","operationId":"attendenceDetail","parameters":[{"name":"employeeId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"month","in":"query","required":false,"schema":{"type":"string","enum":["JANUARY","FEBRUARY","MARCH","APRIL","MAY","JUNE","JULY","AUGUST","SEPTEMBER","OCTOBER","NOVEMBER","DECEMBER"]}},{"name":"year","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"flag","in":"query","required":false,"schema":{"type":"string","enum":["CCI_INDIA","CCI_US","CCI_UK","IRED_INDIA","ALL"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/project/shadowMemberByProjectId/{projectId}":{"get":{"tags":["Project Management"],"summary":"Get shadow member by by ProjectID","operationId":"getShadowMemberByProjectId","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/shadow/project/{projectId}":{"get":{"tags":["Project Management"],"summary":"Get full project details with shadow members","operationId":"getProjectWithShadows","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/ps/list":{"get":{"tags":["Project Management"],"operationId":"getPSList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/project/projects":{"get":{"tags":["Project Management"],"summary":"Get all project names and IDs","operationId":"getAllProjectNamesAndIds","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/project/projects-by-employee/{employeeId}":{"get":{"tags":["Project Management"],"operationId":"getProjectsByEmployee","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/project/projects-by-dl/{dlId}":{"get":{"tags":["Project Management"],"operationId":"getProjectsBydl","parameters":[{"name":"dlId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListProjectDTO"}}}}}}},"/project/project-summary
[...]
